.home {
  h5 {
    font-weight: 600;
    font-size: 36px;
    color: #444444;
    text-align: center;
    text-transform: capitalize;
  }
  .card-containter {
    margin: 28px 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    > div {
      position: relative;
      width: 384px;
      height: 180px;
      border-radius: $br-content;
      background-color: $bg-content;
      padding: 34px;
      display: flex;
      align-items: center;
      margin: 16px;
      div {
        color: #2f2f2f;
        h4 {
          font-size: 70px;
          font-weight: bold;
        }
        h3 {
          font-weight: 500;
          font-size: 46px;
        }
      }
      i {
        position: absolute;
        font-size: 112px;
        color: #c6c9d4;
        right: 14px;
      }
    }
  }
  .activities {
    background-color: $bg-content;
    padding: 28px 0;
    max-width: 1064px;
    margin: 44px auto;
    border-radius: $br-content;
    p {
      font-size: 20px;
      font-weight: 500;
      color: #000000;
      text-align: center;
    }
    .btns {
      margin-top: 24px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      button {
        margin: 16px 22px;
        background-color: $bg-btn-open;
        width: 260px;
        @include btn-all;
      }
    }
  }
}
