.register {
  h5 {
    color: #282828;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
  }
  > p {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #8e8e8e;
    margin-bottom: 18px;
  }
  .null-result {
    margin: 40px 0;
    p {
      text-align: center;
      font-weight: 600;
      font-size: 30px;
      color: #5a5a5a;
      i {
        font-size: 36px;
      }
    }
  }
  .btn-new {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    button {
      width: 200px;
      background-color: $bg-btn-open;
      @include btn-all;
    }
  }
}
