.register-users-container {
  display: grid;
  grid-template-columns: 25% 75%;
  background-color: $bg-content;
  padding: 16px;
  margin: 10px auto 30px;
  h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
    color: $cl-text-titles;
  }
}

.forms-admin-users {
  padding-right: 8px;
  border-right: 1px solid $primary-300;
  min-height: 67vh;
  .form-control {
    display: flex;
    justify-content: center;
    position: relative;
    // min-width: 260px;
    margin: 0 auto 18px;
    label {
      position: relative;
      width: 70%;
      height: 38px;
      border-radius: 16px;
      background-color: $bg-btn-submit;
      cursor: pointer;
      input {
        position: absolute;
        appearance: none;
        z-index: 1;
      }
      span {
        position: relative;
        display: inline-block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &::after {
          display: block;
          content: '';
          background-color: #fff;
          position: absolute;
          width: 50%;
          height: 38px;
          border-radius: 16px;
          transform: scale(0.9);
          transition: 0.5s;
        }
        i {
          position: absolute;
          top: 8px;
          left: 16px;
          z-index: 9;
          font-size: 18px;
          font-weight: 500;
          color: $cl-text-label;
        }
      }
    }

    input:checked ~ span::after {
      content: '';
      left: 50%;
    }
    input:checked ~ span i {
      left: 50%;
    }
  }
}
form {
  width: 100%;
  label,
  input,
  select,
  button {
    width: 100%;
  }
  label {
    @include label-filter;
  }
  input {
    margin: 5px 0 14px;
    @include input-filter;
  }
  button {
    @include btn-all;
    height: 40px;
    margin-top: 10px;
  }
}
.form-filter-users {
  button {
    background-color: $bg-btn-open;
  }
}
.form-register-users {
  select {
    margin-top: 5px;
    height: 38px;
    background-color: $bg-input;
  }
  button {
    background-color: $bg-btn-submit;
    &:hover {
      opacity: 0.8;
    }
  }
  .btn-cancel {
    background-color: $cl-text-input;
  }
}

.registered-users {
  height: 100%;
  overflow-y: auto;
  > div {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1.2fr) 1.6fr 1.5fr 0.6fr;
    align-items: flex-end;
    margin: 0 0 8px 16px;
    border-bottom: 1px solid $primary-300;
    span {
      color: $cl-text-label;
    }
    .status {
      font-weight: 500;
    }
    .active {
      color: #0ba832;
    }
    .inactive {
      color: #db0c0c;
    }
    .holidays {
      color: #ffc107;
    }

    .btns-actions {
      display: flex;
      justify-content: space-evenly;

      i {
        padding: 4px;
        font-size: 18px;
        cursor: pointer;
      }
      .fa-user-times {
        color: rgb(255, 0, 0);
        &:hover {
          color: rgba(230, 40, 40, 0.58);
        }
      }
      .fa-user-edit {
        color: rgb(112, 158, 27);
        &:hover {
          color: rgba(101, 158, 27, 0.58);
        }
      }
    }
  }
}
