.tasks-container {
  form {
    padding: 16px;
    background-color: $bg-content;
    max-width: 956px;
    margin: 28px auto 50px;
    box-shadow: 0px 4px 20px -6px rgba(0, 0, 0, 0.09);
    border-radius: 6px;
    .header-task {
      display: flex;
    }
    .description {
      display: flex;
      flex-wrap: wrap;
      margin: 14px 0;
      textarea {
        height: 63px;
        background-color: $bg-input;
      }
    }
    .btn-content {
      display: flex;
      justify-content: flex-end;
      button {
        background-color: $bg-btn-submit;
        width: 152px;
        @include btn-all;
      }
    }
    div {
      label,
      input,
      textarea {
        width: 100%;
      }
      label {
        @include label-filter;
      }
      input {
        @include input-filter;
      }
    }
  }
  > div {
    max-width: 1200px;
    margin: 0 auto;

    > div {
      background: #fdfdfd;
      box-shadow: 0px 4px 15px -10px rgba(0, 0, 0, 0.34);
      padding: 14px;
      margin-bottom: 16px;
      h3 {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #363636;
        margin-bottom: 4px;
      }
      > p {
        font-size: 16px;
        line-height: 20px;
        color: #393939;
        margin-bottom: 10px;
      }
      div {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
        p {
          font-weight: 300;
          font-size: 14px;
          line-height: 17px;
          color: #595757;
        }
        div {
          button {
            width: 140px;
            height: 30px;
            background: #b3b3b3;
            border: none;
            border-radius: 8px;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #ffffff;
            margin-left: 20px;
          }
        }
      }
    }
  }
}
