// Colores
$primary-50: #f8f8fb;
$primary-100: #f2f3f8;
$primary-150: #e9edf4;
$primary-200: #e2e8f0;
$primary-250: #d5dce7;
$primary-300: #b3bfce;
$primary-400: #2b3253;
$primary-500: #181c32;
$primary-base: #d5dce7;
$accent: #e9ebee;

$br-btn: 8px;
$max-w: 1600px;
