@import './components/scroll-bar';
@import './base/_settings.scss';
@import './base/base';

// Components styles
@import './components/containers';
@import './components/grid-columns';
@import './components/positions';
@import './components/spacing';
@import './components/titles';
@import './components/buttons';
@import './components/inputs';
@import './components/labels';
@import './components/messages';
@import './components/forms';

// View styles
@import './views/global-nav';
@import './views/login';
@import './views/home';
@import './views/search';
@import './views/verify';
@import './views/register';
@import './views/register-users';
@import './views/modal';
@import './views/modal-upload-files';
@import './views/card-profile';
@import './views/NotFoundPage';

.txt-test {
  font-size: 24px;
  font-weight: 600;
  color: #282828;
  text-align: center;
}
