// Colores
$primary-50: #f8f8fb;
$primary-100: #f2f3f8;
$primary-150: #e9edf4;
$primary-200: #e2e8f0;
$primary-250: #d5dce7;
$primary-300: #b3bfce;
$primary-400: #2b3253;
$primary-500: #181c32;
$primary-base: #d5dce7;
$accent: #e9ebee;

$bg-btn-submit: #10ae4b;
$bg-btn-open: #1973b8;
// $bg-btn-x: #f3a70e;
$bg-input: #f4f4f5;
$bg-content: #fff;

$cl-text-titles: #1b1b1b;
$cl-text-label: #313131;
$cl-text-input: #757575;
$cl-text-btn: $primary-50;

$br-content: 4px;
$br-input: 6px;
$br-btn: 8px;
$max-w: 1600px;
